# Виртуальное окружение
.venv/
venv/
env/
env.bak/

# Пакеты и файлы, создаваемые IDE
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Папка с данными
instance/

# Файлы конфигурации IDE
.idea/
*.sublime-project
*.sublime-workspace

# Файлы временного хранения
*.log
*.tmp

# Docker
*.dockerignore
docker-compose.override.yml

# Среда разработки PyCharm
*.iml
.idea/

# Система Windows
Thumbs.db
.DS_Store

# Конфиденциальные файлы
.env

# Файлы для тестирования
.coverage
.hypothesis/
